@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  /* override defaults */
  --tracking-tighter: -0.04em;
  --leading-tight: 1.2;
  --text-5xl: 2.5rem;
  --text-6xl: 2.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6.25rem;

  /* custom for CoverImage */
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);

  /* custom for OpenButton */
  @keyframes shimmer {
    from { transform: translateX(-100%); }
    to { transform: translateX(100%); }
  }
}
